# Streamlit
streamlit==1.26.1

# Data processing
pandas==2.0.3
matplotlib==3.7.2

# PDF generation
reportlab>=3.6.0

# Environment variables
python-dotenv==1.0.1

# Data validation
pydantic==2.5.1

# LangChain
langchain>=0.1.105
langchain-groq>=0.0.4
